*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #f1faff;
}
header {
  display: flex;
  background-color: #eacdeb;
  padding: 20px;
  padding-right: 40px;
  padding-left: 40px;
  align-items: center;
  justify-content: space-between;
}
  
header nav {
  color: white;
}

.navigation-logo {
    display: flex;
}

.navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
  
.navigation-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style: none;
  margin-bottom: 0;
}
  
.navigation-bar-item {
  padding-right: 20px;
  padding: 10px;
}
  
.navigation-bar-item a {
  font-family: 'Lobster', cursive;
  color: #000000;
  text-decoration: none;
  font-size: 19px;
}
  
h1,h2,h3,h4,h5,h6,legend,label,li {
  color: #614098;
  font-family: 'Open Sans', sans-serif;
}
p{
  color: #000000;
  font-family: 'Open Sans', sans-serif;
}
.simulator-title{
  text-align: center;
}

form {
  max-width: 950px;
  display: block;
  width: 90%;
  background-color: #ffffff;
  padding: 25px 0;
  margin: 40px auto;
  color: #fff;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}
  
fieldset {
  border: none;
  width: 90%;
  margin: 10px auto;
}
  
legend {
  margin: 30px 0 0;
  font-size: 24px;
  font-weight: 700;
}
  
.double-input {
  margin: 20px auto;
}
  
.double-input>div {
  float: left;
  width: 48%;
  margin: 0 1% 10px;
}
  
label {
  display: block;
  margin-bottom: 10px;
}
  
button[type="submit"] {
  width: 220px;
  padding: 6px;
  margin-top: 20px;
  background-color: #28a3ff;
  color: #fff;
  border: solid 2px #0066b3;
  cursor: pointer;
  font-size: 18px;
  box-shadow: 0 0 10px #131313ab;
  font-family: 'Open Sans', sans-serif;
}
  
input, select {
  width: 100%;
  color: rgb(36, 36, 36);
  background-color: transparent;
  border: 1px solid #a9a9a9;
  padding: 8px;
  height: 35px;
}

input.failed {
  background: rgba(255, 0, 0, 0.41);
}

input.success {
  background: rgba(0, 128, 0, 0.33);
}
#simulator-paragraph{
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

#simulator-title {
  text-align: center;
  margin-top: 40px;
}

.container{
  width: 90%;
  min-height: 60vh;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.slider{
  background-color: #f1faff;
  padding: 40px 0;
}

.slider-container{
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  align-items: center;
  gap: 1em;
}

.slider-body{
  grid-column: 2/3;
  grid-row: 1/2;
  opacity: 0;
  pointer-events: none;
  display: grid;
  background-color: #f1faff;
  grid-template-columns: 1fr max-content;
  align-items: center;
  transition: opacity 1.5s;
}

.slider-body--show{
  opacity: 1;
  pointer-events: unset;
}

.slider-texts{
  max-width: 600px;
}

.subtitle{
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.slider-review{
  font-weight: 300;
  font-size: 20px;
  line-height: 1.7;
  margin-bottom: 10px;
}

.slider-img{
  width: 280px;
  height: 280px;
  border: solid 2px #0066b3;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}

.slider-arrow{
  cursor: pointer;
  width: 90%;
}

.slider-arrow:nth-of-type(2){
  justify-self: end;
}

@media (max-width:768px){
  .slider-body{
    grid-template-columns: 1fr;
    grid-template-rows: max-content 1fr;
  }
  .slider-picture{
    grid-row: 1/2;
  }
  .slider-img{
    width: 210px;
    height: 210px;
  }
}

@media (max-width:425px){
  .slider-container{
    grid-template-columns: 25px 1fr 25px;
  }
  .slider-arrow{
    width: 100%;
  }
  .slider-img{
    width: 180px;
    height: 180px;
  }
  .subtitle{
    font-size: 2rem;
    margin-bottom: 15px;
  }
  .slider-review{
    font-size: 1rem;
    line-height: 1.6;
  }
}

.slider-btn{
  width: 200px;
  padding: 8px;
  margin-top: 25px;
  background-color: #28a3ff;
  color: #fff;
  border: solid 2px #0066b3;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

.swal2-html-container{
  font-family: 'Open Sans', sans-serif;
}


.contact-box.contact-box-top {
  margin-top: -1px;
  position: relative;
}

.touch-in{
  margin-top: 30px;
  margin-bottom: 40px;
}

.touch-in .contact-box {
  background-color: #ffe9e9;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
  border: solid #28a3ff;
  display: inline-block;
  padding: 50px 20px;
  width: 90%;
}

.contact-box i {
  background: #614098;
  margin-bottom: 20px;
  width: 80px;
  height: 80px;
  text-align: center;
  line-height: 80px;
  color: #ffffff;
  display: inline-block;
}

.contact-box .contact-icon i {
  background: transparent;
  line-height: normal;
  font-size: 34px;
  height: auto;
  width: auto;
}

.contact-box.theme-bg .contact-icon i {
  color: #ffffff !important;
}

.contact-box {
  display: table-cell;
  vertical-align: top;
  background: none;
}

.justify-content-center {
  margin-top: 60px;
  justify-content: center !important;
}

.contact-form {
  margin: 80px;
}

.contact-icon{
  width: 56px;
}

@media (max-width: 768px){
  .touch-in {
    margin-left: 32px;
  }
}
.subtitle-contact{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}